<div class="home-container">
  <div class="content">
    <div class="task-list-container">
      <div class="add-task">
        <input [(ngModel)]="newTaskTitle" placeholder="Add new task..." (keyup.enter)="addTask()">
        <button (click)="addTask()">Add</button>
      </div>
      
      <div class="task-list">
        <app-task-item 
          *ngFor="let task of todos" 
          [task]="task" 
          (selected)="selectTask($event)">
        </app-task-item>
      </div>
    </div>
    
    <div class="task-details-container" *ngIf="selectedTask">
      <app-task-details 
        [task]="selectedTask" 
        (close)="closeDetails()"
        (saved)="loadTodos()"
        (deleted)="onTaskDeleted($event)">
      </app-task-details>
    </div>
  </div>
</div>