.home-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
 margin-left: 100px;
 margin-right: 100px;
}

.content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.task-list-container {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
}

.task-details-container {
  width: 500px;
  border-left: 1px solid #ddd;
  padding: 20px;
  overflow-y: auto;
}

.add-task {
  display: flex;
  margin-bottom: 20px;
}

.add-task input {
  flex: 1;
  padding: 10px;
  margin-right: 10px;
}

.add-task button {
  padding: 10px 20px;
}