<div class="card shadow-sm mb-3">
  <div class="card-header d-flex align-items-center">
    <input type="checkbox" class="me-2" [checked]="toDo?.id === undefined" (change)="handleAddItem(toDo)">
    <h3 class="card-title mb-0">{{ toDo?.title }}</h3>
  </div>
  <div class="card-body">
    <button class="btn btn-primary me-2" (click)="handleDetailsItem(toDo!.id)" *ngIf="toDo?.id">View Details</button>
    <button class="btn btn-danger" (click)="handleDeleteItem(toDo!.id)" *ngIf="toDo?.id">Delete</button>
  </div>
</div>