<div class="lowin">
  <div class="lowin-brand">
    <img src="./kodinger.jpg" alt="logo"> 
  </div>
  <div class="lowin-wrapper">
    <div class="lowin-box lowin-login">
      <div class="lowin-box-inner">
        <form #loginForm="ngForm">
          <p>Sign in to continue</p>
          <div class="lowin-group">
            <label>Name <a href="#" class="login-back-link">Sign in?</a></label>
            <input type="email" autocomplete="email" name="name" class="lowin-input" ngModel required>
          </div>
          <div class="lowin-group password-group">
            <label>Password <a href="#" class="forgot-link">Forgot Password?</a></label>
            <input type="password" name="password" autocomplete="current-password" class="lowin-input" ngModel required>
          </div>
          <button type="submit" class="lowin-btn login-btn" [disabled]="loginForm.invalid">
            Sign In
          </button>

          <div class="text-foot">
            Don't have an account? <a routerLink="/register" class="register-link">Register</a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>