<div class="lowin">
  <div class="lowin-brand">
    <img src="./kodinger.jpg" alt="logo"> 
  </div>
  <div class="lowin-wrapper">
    <div class="lowin-box lowin-register">
      <div class="lowin-box-inner">
        <form #registerForm="ngForm">
          <p>Let's create your account</p>
          <div class="lowin-group">
            <label>Name</label>
            <input type="text" name="name" autocomplete="name" class="lowin-input" ngModel required>
          </div>
          <div class="lowin-group">
            <label>Email</label>
            <input type="email" autocomplete="email" name="email" class="lowin-input" ngModel required>
          </div>
          <div class="lowin-group">
            <label>Password</label>
            <input type="password" name="password" autocomplete="current-password" class="lowin-input" ngModel required>
          </div>
          <button type="submit" class="lowin-btn" [disabled]="registerForm.invalid">
            Sign Up
          </button>

          <div class="text-foot">
            Already have an account? <a routerLink="/login" class="login-link">Login</a>
          </div>
        </form>
      </div>
    </div>
  </div>

</div>